<!DOCTYPE html>
<html lang="en" xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de anúncios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../assets/css/styles.css" rel="stylesheet" />
    <script>
       window.onload = function() {
        if (performance.navigation.type === 2) {
            history.replaceState(null, null, location.href);
            location.reload(true);
            }
        };
    </script>
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<br>

<div class="container">
    <div class="row">
        <div class="col">

            <form action="buscatitulo" method="post">
                <div class="form-group mb-2">
                    <label class="form-control-label">Pesquisar por Título</label>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control" name="titulopesquisa" id="titulopesquisa" th:value="${titulopesquisa}">
                </div>
                <br>
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>

        </div>

        <div class="col">
            <form action="buscacategoria" method="post" >
                <div class="form-group mb-2">
                    <label class="form-control-label">Pesquisar por Categoria</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" id="categoriapesquisa" name="categoriapesquisa" required>
                            <option value="">--Escolha uma categoria--</option>
                            <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.nomecategoria}" th:selected="${c.id} == ${categoriapesquisa}">
                        </select>
                    </div>
                </div>
                <br>
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">

    <div class="row">

        <div class="col" th:each = "anuncio : ${anuncios}">

            <div class="card" style="width: 17rem;" th:onclick="|window.location.href='@{/detalhepag/{id}(id=${anuncio.id})}'|">
                <img th:if="${anuncio.image != null}" th:src="@{/imagemanuncio/{idanun}(idanun=${anuncio.id})}" class="card-img-top" height="150px" width="180px" alt="user1">
                <img th:if="${anuncio.image == null}"  src="" class="card-img-top" alt="user1" height="50px" width="50px">

                <div class="card-body">
                    <h5 class="card-title"><span th:utext="${#strings.abbreviate(anuncio.titulo,50)}"></span></h5>
                    <p class="card-text"><span th:text = "${anuncio.categoria.nomecategoria}" ></span></p>
                </div>
                <hr>
                <div class="card-body">
                    <p class="card-text" th:text="${#numbers.formatCurrency(anuncio.preco)}"></p>
                </div>
            </div>
            <br>

        </div>

        </br>

    </div>


    <br>
    <nav aria-label="Page navigation example" style="margin-top: 30px;">
        <ul class="pagination justify-content-center" th:if="${anuncios != null}">

            <li class="page-item" th:if="${anuncios.hasPrevious()}" >
                <a class="page-link" th:href="@{/anuncioindexpag(page=${anuncios.number-1}, size=${anuncios.size}, categoriapesquisa=${categoriapesquisa}, titulopesquisa=${titulopesquisa})}">Anterior</a>
            </li>

            <li class="page-item" th:each="i: ${#numbers.sequence(0, anuncios.totalPages - 1)}">
                <a class="page-link" th:href="@{/anuncioindexpag(page=${i}, size=${anuncios.size}, categoriapesquisa=${categoriapesquisa}, titulopesquisa=${titulopesquisa})}">[[ ${i} + 1 ]]</a>
            </li>

            <li class="page-item" th:if="${anuncios.hasNext()}">
                <a class="page-link" th:href="@{/anuncioindexpag(page=${anuncios.number+1}, size=${anuncios.size}, categoriapesquisa=${categoriapesquisa}, titulopesquisa=${titulopesquisa})}">Próximo</a>
            </li>

        </ul>
    </nav>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>