<!DOCTYPE html>
<html lang="en" xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de anúncios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../assets/css/styles.css" rel="stylesheet" />
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<br>

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">
                <div class="form-group mb-2">
                    <label class="form-control-label">Pesquisar por Anúncio</label>
                </div>
                <div class="form-group col-md-6">
                    <input class="form-control">
                </div>
                <br>
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>
        </div>

        <div class="col">
            <form method="post">
                <div class="form-group mb-2">
                    <label class="form-control-label">Pesquisar por Categoria</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">--[Todos]--</option>
                            <option value="Eletrônico">Eletrônico</option>
                            <option value="Vestuário">Vestuário</option>
                            <option value="Automóveis">Automóveis</option>
                            <option value="Celular">Celular</option>
                        </select>
                    </div>
                </div>
                <br>
                <input type="submit" value="Buscar" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">

    <div class="row">

        <div class="col">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gol Trendline 1.6 MSI, completo e pouco rodad</h5>
                    <p class="card-text">Automóveis</p>
                </div>
                <div class="card-body">
                    <p class="card-text">R$ 36900,00 </p>
                </div>
            </div>

        </div>

        </br>

    </div>

</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>